@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Yeseva+One&display=swap');
.logcont * {
	box-sizing: border-box;
}
.logcont{
    margin-top: 20vh;
}
.logcont h1{
    font-family: "Yeseva One", serif;
}
.logcont body {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Roboto', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}

.logcont h1 {
	font-weight: bold;
	margin: 0;
}

.logcont h2 {
	text-align: center;
}

.logcont p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

.logcont span {
	font-size: 12px;
}

.logcont a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

.logcont button {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.logcont button:active {
	transform: scale(0.95);
}

.logcont button:focus {
	outline: none;
}

.logcont button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.logcont form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.logcont input {
	background-color: #eee;
	border: none;
    border-radius: 20px;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.logcont .container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.logcont .form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.logcont .sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.logcont .container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.logcont .sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.logcont .container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.logcont .overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.logcont .container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.logcont .overlay {
	background: #FF416C;
	background: -webkit-linear-gradient(to right, #ae8625, #d2ac47,#926f34);
	background: linear-gradient(to right, #ae8625, #d2ac47,#926f34);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.logcont .container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.logcont .overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.logcont .overlay-left {
	transform: translateX(-20%);
}

.logcont .container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.logcont .overlay-right {
	right: 0;
	transform: translateX(0);
}

.logcont .container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.logcont .social-container {
	margin: 20px 0;
}

.logcont .social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}