@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Yeseva+One&display=swap');


.movie-card-wrapper {
  position: relative;  
}


.movie-card-list {
  display: flex;               
  overflow-x: auto;            
  gap: 20px;                   
  padding: 20px;
  justify-content: flex-start; 
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch; 
}

.maindiv {
  flex: 0 0 auto;               
  width: 350px;                 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 20px;           
}

.container {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.25);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 20px;
    filter: drop-shadow(0 30px 10px rgba(0, 0, 0, 0.125));
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
    text-align: center;
    height: 100%; 
    min-height: 400px; 
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 100%; 
  }

.banner-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  width: 100%;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.255);
}

.movie-card-wrapper h1 {
  color: rgba(255, 255, 255, 0.98);
  text-transform: uppercase;
  font-size: 2.8rem;
  font-weight: bolder;
}
.headmain{
    background: url('../../../images/gold_gif_main.gif') 0 0 / cover no-repeat;
    background-clip: text;
    -webkit-background-clip: text; 
    -moz-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    color: transparent;
    font-family: "Yeseva One", serif;
}
.head {
    font-family: "Luxurious Roman", serif;
    background: url('../../../images/gold_gif.gif') 0 0 / cover no-repeat; 
    background-clip: text; 
    -webkit-background-clip: text; 
    -moz-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    color: transparent; 
}
.movie-card-wrapper p {
  color: #fff;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 0.8rem;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button-wrapper {
    margin-top: 20px;  
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  

.nav-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
  transition: background 0.3s ease;
}
 
.left {
  left: 10px; /* Position left arrow */
}

.right {
  right: 10px; /* Position right arrow */
}

/* Button */
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    overflow: hidden;
    height: 3rem;
    background-size: 300% 300%;
    cursor: pointer;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
    border: double 4px transparent;
    background-image: linear-gradient(#3e0000, #3e0000),
      linear-gradient(
        137.48deg,
        #ae8625 10%,    
        #d2ac47 45%,    
        #926f34 67%,    
        #4f0809 87%     
      );
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
  
  #container-stars {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
  }
  
  .btn strong {
    z-index: 2;
    font-family: "Avalors Personal Use";
    font-size: 12px;
    letter-spacing: 5px;
    color: #ffffff;
    text-shadow: 0 0 4px white;
  }
  
  #glow {
    position: absolute;
    display: flex;
    width: 12rem;
  }
  
  .circle {
    width: 100%;
    height: 30px;
    filter: blur(2rem);
    animation: pulse_3011 4s infinite;
    z-index: -1;
  }
  
  .circle:nth-of-type(1) {
    background: rgba(210, 172, 71, 0.636); 
  }
  
  .circle:nth-of-type(2) {
    background: rgba(146, 111, 52, 0.704); 
  }
  
  .btn:hover #container-stars {
    z-index: 1;
    background-color: #3e0000;
  }
  
  .btn:hover {
    transform: scale(1.1);
  }
  
  .btn:active {
    border: double 4px #d2ac47; 
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: none;
  }
  
  .btn:active .circle {
    background: #d2ac47; 
  }
  
  #stars {
    position: relative;
    background: transparent;
    width: 200rem;
    height: 200rem;
  }
  
  #stars::after {
    content: "";
    position: absolute;
    top: -10rem;
    left: -100rem;
    width: 100%;
    height: 100%;
    animation: animStarRotate 90s linear infinite;
  }
  
  #stars::after {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
  }
  
  #stars::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 170%;
    height: 500%;
    animation: animStar 60s linear infinite;
  }
  
  #stars::before {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
    opacity: 0.5;
  }
  
  @keyframes animStar {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-135rem);
    }
  }
  
  @keyframes animStarRotate {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0);
    }
  }
  
  @keyframes gradient_301 {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes pulse_3011 {
    0% {
      transform: scale(0.75);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
    100% {
      transform: scale(0.75);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }
  
/* .button {
    width: 10em;
    position: relative;
    height: 3.5em;
    border: 3px ridge #d2ac47;
    outline: none;
    background-color: transparent;
    color: white;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .button::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    transition: 0.5s;
    transform-origin: center;
    background: linear-gradient(90deg, #3e0000,#4f0809);
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.25);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }
  
  .button::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: 95%;
    height: 40%;
    transition: 0.5s;
    background: linear-gradient(90deg, #3e0000,#4f0809);
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.25);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }
  
  .button:hover::before, .button:hover::after {
    transform: scale(0)
  }
  
  .button:hover {
    box-shadow: inset 0px 0px 25px #d2ac47;
  } */